

<div class="subs-parent">

<div class="columns">
  <ul class="price">
    <li class="header">Basic</li>
    <li class="grey">$ 9.99 / year</li>
    <li>10GB Storage</li>
    <li>10 Emails</li>
    <li>10 Domains</li>
    <li>1GB Bandwidth</li>
    <li class="grey"><%= link_to "Free", root_path, class: "btn" %></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Standard</li>
    <li class="grey">$ 14.99 / year</li>
    <li>15GB Storage</li>
    <li>40 Emails</li>
    <li>15 Domains</li>
    <li>5GB Bandwidth</li>
    <li class="grey"><script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1NS024FaEE1q8n4Zeszm6Lmq"
  publishable-key="pk_test_51NRCMWFaEE1q8n4ZReSTbxP1Z8roAOa4SJCuSNeKpP8HSxhdaTaNfln91PtOQmdHv7dtA3qSfs3vWiusTsoEofa100jZopAcCu"
>
</stripe-buy-button></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Premium</li>
    <li class="grey">$ 19.99 / year</li>
    <li>30GB Storage</li>
    <li>100 Emails</li>
    <li>30 Domains</li>
    <li>10GB Bandwidth</li>
    <li class="grey"><script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1NRzyGFaEE1q8n4ZKacFi9ae"
  publishable-key="pk_test_51NRCMWFaEE1q8n4ZReSTbxP1Z8roAOa4SJCuSNeKpP8HSxhdaTaNfln91PtOQmdHv7dtA3qSfs3vWiusTsoEofa100jZopAcCu"
>
</stripe-buy-button></li>
  </ul>
</div>

</div>